<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="FoodVotingConnectionString" connectionString="Data Source=DESKTOP-KESDL5U;Initial Catalog=FoodVoting;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FoodVotingConnectionString2" connectionString="Data Source=198.71.226.2;Initial Catalog=FoodVoting;User ID=Josiah;Password=admin1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  	<trust level="Full"/>
  </system.web>
  <system.codedom>
  </system.codedom>

</configuration>
